{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}<h1>Charger un fichier</h1>
<form method="POST" enctype="multipart/form-data" class="border rounded p-2 m-2">
    <div class="mb-3">
        <label for="fileInput" class="form-label">Fichier</label>
        <input type="file" class="form-control" id="fileInput" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>{% if get_flashed_messages() %}
<span>{{ get_flashed_messages() }}</span>
{% endif %}{% endblock %}